* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    background: url("../assets/images/wallpaper.jpg");
    background-size: cover;
    overflow: hidden;
}

.desktop {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.desktop .applist .app img {
    width: 48px;
    margin-bottom: 2px;
}

.desktop .applist .app:hover {
    background-color: #eeeeee33;
}

#main-projects {
    display: none;
}

#main-projects:target, #greetings:target {
    display: block;
}


.fg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1;
    animation: fadeOut 1s forwards;
}

@keyframes fade-n-grow {
    from {
        filter: opacity(0);
        scale: 0.0;
    }
    to {
        filter: opacity(1);
        scale: 1;
    }
}

@keyframes fadeOut {
    from {
        filter: opacity(1);
    }
    to {
        filter: opacity(0);
    }
    99% {
        display: block;
    }
    100% {
        display: none;
    }
}