@font-face {
	font-family: 'Beaufort for LOL';
	src: url('./BeaufortforLOL-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Beaufort for LOL';
	src: url('./BeaufortforLOL-RegularItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Beaufort for LOL';
	src: url('./BeaufortforLOL-Medium.otf') format('opentype');
	font-weight: 500; /* medium weight */
	font-style: normal;
}

@font-face {
	font-family: 'Beaufort for LOL';
	src: url('./BeaufortforLOL-MediumItalic.otf') format('opentype');
	font-weight: 500; /* medium weight */
	font-style: italic;
}

@font-face {
	font-family: 'Beaufort for LOL';
	src: url('./BeaufortforLOL-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Beaufort for LOL';
	src: url('./BeaufortforLOL-BoldItalic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Beaufort for LOL';
	src: url('./BeaufortforLOL-Light.otf') format('opentype');
	font-weight: 300; /* light weight */
	font-style: normal;
}

@font-face {
	font-family: 'Beaufort for LOL';
	src: url('./BeaufortforLOL-LightItalic.otf') format('opentype');
	font-weight: 300; /* light weight */
	font-style: italic;
}

@font-face {
	font-family: 'Beaufort for LOL';
	src: url('./BeaufortforLOL-Heavy.otf') format('opentype');
	font-weight: 900; /* heavy weight */
	font-style: normal;
}

@font-face {
	font-family: 'Beaufort for LOL';
	src: url('./BeaufortforLOL-HeavyItalic.otf') format('opentype');
	font-weight: 900; /* heavy weight */
	font-style: italic;
}