@import url("../fonts/fonts.css");
@import url("./animations.css");
@import url("./loading.css");
@import url("./navbar.css");
@import url("./pages/main.css");

:root {
  --yasuo: url("../img/yasuo/splash-art.jpg");
  --yone: url("../img/yone/splash-art.jpg");
  --warwick: url("../img/warwick/splash-art.jpg");
  --wukong: url("../img/wukong/splash-art.jpg");
  --neeko: url("../img/neeko/splash-art.jpg");
  --senna: url("../img/senna/splash-art.jpg");

  --bg-image: var(--yone);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("../img/cursor.png"), auto;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(#00000088, #00000088),
    var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-color: #111;
}

.container {
  height: 100vh;
  width: 100vw;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}